<content data-show="start-view" data-context="game-content">
	<canvas class="bg"></canvas>
	
	<div class="start-view" data-area="start">
		<div class="logo">
			<svg><use xlink:href="#xwing-logo"></use></svg>
		</div>

		<ul class="menu">
			<li data-click="new-game">
				<span>Start Game</span>
			</li>
			<li data-click="toggle-sound">
				<span>Sound FX</span> <b>On</b>
			</li>
			<li data-click="toggle-music">
				<span>Music</span> <b class="off">Off</b>
			</li>
		</ul>

		<div class="info">
			<div>Original Game <b>Dominic Szablewski</b></div>
			<div>Music <b>Ola Person</b> &amp; <b>Hakan Bilgin</b></div>
		</div>

		<div class="made-with-impact"></div>
	</div>

	<div class="game-view" data-area="game">
		<canvas class="game"></canvas>
		<div class="hud">
			<div class="lives" data-count="3"></div>
			<div class="score">00000000</div>
		</div>
	</div>
</content>
