
@media ( min-width: 320px ) {
	[data-mobile="true"] {
		[data-id="delta"] {
			.win-body_ content {
				.start-view {
					.logo {
						width: 310px;
						height: 79px;
						margin: 23px auto 13px;
					}

					.menu {
						font-size: 37px;
					}

					.ship {
						top: 280px;
						background-size: 120px auto;
					}

					.hiscore {
						top: 397px;
					}

					.made-with-impact {
						width: 103px;
						height: 37px;
						right: 9px;
					}
				}

				.view-pause {
					.menu {
						font-size: 37px;
					}
				}

				.view-game-over {
					h3, h4 {
						scale: .8;
					}
				}
			}
		}
	}
}

@media ( min-width: 321px ) and ( max-width: 413px ) {
	[data-mobile="true"] {
		[data-id="delta"] {
			.win-body_ content {
				.start-view {
					.logo {
						width: 367px;
						height: 90px;
						margin: 37px auto 31px;
					}

					.menu {
						font-size: 45px;
					}

					.ship {
						top: 365px;
						background-size: 170px auto;
					}

					.hiscore {
						top: 517px;
					}

					.made-with-impact {
						width: 103px;
						height: 37px;
						right: 9px;
					}
				}

				.view-pause {
					.menu {
						font-size: 45px;
					}
				}
			}
		}
	}
}

@media ( min-width: 414px ) {
	[data-mobile="true"] {
		[data-id="delta"] {
			.win-body_ content {
				.start-view {
					.logo {
						width: 367px;
						height: 90px;
						margin: 59px auto 31px;
					}

					.menu {
						font-size: 45px;
					}

					.ship {
						top: 395px;
						background-size: 190px auto;
					}

					.hiscore {
						top: 547px;
					}

					.made-with-impact {
						width: 103px;
						height: 37px;
						right: 9px;
					}
				}

				.view-pause {
					.menu {
						font-size: 45px;
					}
				}
			}
		}
	}
}
